.container-short {
  margin: 0 auto;
  float: none;
  max-width: 750px !important;
}

label {
  font-weight: bold;
}

.mar-20 {
  margin-top: 15%;
}
.error h4 {
  color: red;
}

.error h5 {
  color: red;
}
.divi {
  width: 25%;
  height: 40px;

  display: block;
  color: #fff;
  background: #e74c3c;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.divi:hover {
  background: #eb6658;
}
.divi-2 {
  width: 25%;
  height: 40px;
  border: 2px solid #e74c3c;
  display: block;
  color: rgb(104, 101, 101);
  background-color: #fff;
  border-color: #e74c3c;
  font-size: 1em;
  padding: 2px;
  margin-top: 20px;
  outline: none;

  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.divi-2:hover {
  background: #eb6658;
  color: #fff;
  font-weight: bold;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 525px) {
  .buttons {
    display: block;
    justify-content: center;
    font-size: small;
  }
  .divi-2 {
    padding: 5px;
    height: auto;
  }
}
